
{{ define "main"}}
    {{ $sections := where (os.ReadDir "content\\getting-started") "IsDir" true  }}
    {{ $allGuides := where .Site.RegularPages "Type" "in" "getting-started" }}

    <div class="container content">
        <header class="mb-3">
          <h1 class="title">{{ .Title }}</h1>
        </header>
        <article>
        {{ .Content }}
        </article>
        {{ with $allGuides}}
        
        <div class="row">
            {{range $sections}}
            <div class="col">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action list-group-item-dark text-muted">{{ .Name | title }}</div>
                    {{ range where ($allGuides) "File.Dir" (printf "getting-started\\%s\\" .Name)  }}
                        <a href="{{.RelPermalink}}" class="list-group-item list-group-item-action">{{.Params.navLinkName}}</a>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>

    {{ end }}
    </div>
{{ end }}