
{{ define "main"}}
    {{ $guides := where .Site.RegularPages "Type" "in" "getting-started" }}
    <div class="row mb-2">
        <div class="col-12">
            {{.Content}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="list-group">
                <div class="list-group-item list-group-item-action list-group-item-dark text-muted">Desktop</div>
                <a href="desktop/binaries" class="list-group-item list-group-item-action">Binaries</a>
                <a href="desktop/docker" class="list-group-item list-group-item-action">Docker</a>
              </div>
        </div>
        <div class="col">
            <div class="list-group">
                <div class="list-group-item list-group-item-action list-group-item-dark text-muted">Kubernetes</div>
                <a href="kubernetes/manual" class="list-group-item list-group-item-action">Manual</a>
                <a href="kubernetes/helm" class="list-group-item list-group-item-action">Helm</a>
                <a href="kubernetes/operator" class="list-group-item list-group-item-action">Pulsar Operator</a>
              </div>
        </div>
        <div class="w-100 m-2"></div>
        <div class="col">
            <div class="list-group">
                <div class="list-group-item list-group-item-action list-group-item-dark text-muted">Amazon Web Services</div>
                <a href="desktop/binaries" class="list-group-item list-group-item-action">Binaries</a>
                <a href="desktop/docker" class="list-group-item list-group-item-action">Docker</a>
              </div>
        </div>
        <div class="col">
            <div class="list-group">
                <div class="list-group-item list-group-item-action list-group-item-dark text-muted">Microsoft Azure</div>
                <a href="kubernetes/manual" class="list-group-item list-group-item-action">Manual</a>
                <a href="kubernetes/helm" class="list-group-item list-group-item-action">Helm</a>
                <a href="kubernetes/operator" class="list-group-item list-group-item-action">Pulsar Operator</a>
              </div>
        </div>
        <div class="col">
            <div class="list-group">
                <div class="list-group-item list-group-item-action list-group-item-dark text-muted">Google Cloud</div>
                <a href="kubernetes/manual" class="list-group-item list-group-item-action">Manual</a>
                <a href="kubernetes/helm" class="list-group-item list-group-item-action">Helm</a>
                <a href="kubernetes/operator" class="list-group-item list-group-item-action">Pulsar Operator</a>
              </div>
        </div>
    </div>

{{ end }}