{{ define "main"}}
{{ $linkedinSvg := resources.Get "svg/linkedin-in-brands.svg" }}
{{ $twitterSvg := resources.Get "svg/twitter-brands.svg" }}
{{ $emailSvg := resources.Get "svg/envelope-solid.svg" }}
{{ $related := .Site.RegularPages.RelatedIndices . "categories" "tags" | first 3 }}

<div class="container">
  <header class="mb-3">
    <div class="pb-2">
      {{if .Params.imgUrl}}
      <img src="{{.Params.imgUrl}}" alt="{{ .Title }}" class="img-fluid" style="max-width:85%;max-height:200px" />
      {{end}}
    </div>
    <h1>{{ .Title }}</h1>
    {{ if .Params.categories }}
      <div class="row no-gutters">
        <div class="col col-auto mr-1">Categories: </div>
        {{ $itemCnt := (add (len .Params.categories) -1)}}
        {{ range $key, $category := .Params.categories }}
          <div class="col col-auto"><a class="text-decoration-none" href="/categories/{{ $category }}">{{$category | humanize | title }}</a>{{ if lt $key $itemCnt }},&nbsp;{{ end }}</div>
        {{ end }}
      </div>
    {{ end }}
  </header>
  <div class="row mb-3 no-gutters border-top border-bottom">
    <div class="col-2">
      <ul class="list-group list-group-horizontal mt-1 mb-1">
        <li class="list-group-item flex-fill border-0 p-0 mr-3" >
          <a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank"><img src="{{ $linkedinSvg.RelPermalink }}" title="Share this on LinkedIn" class="img-fluid"></a>
        </li>
        <li class="list-group-item flex-fill border-0 p-0 mr-3">
          <a  target="_blank"
  href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&hashtags=apachepulsar&via=pulsar_neighbor">
  <img src="{{ $twitterSvg.RelPermalink }}" title="Share this on Twitter" class="img-fluid"></a>
        </li>
      </ul>
    </div>
    <div class="col text-right">
      {{ if .Params.author.name }}
      <span class="text-muted">Author:</span> {{ .Params.author.name }}<br/>
      {{ end }}
      <span class="text-muted">Published:</span> {{ .Date.Format "January 2, 2006" }}
    </div>
    {{if .Params.author.imgUrl}}
    <div class="col-1 ml-1"><img src="{{.Params.author.imgUrl}}" alt="" class="img-fluid" style="max-height:100px;" /></div>
    {{end}}
  </div>
  <article>
    {{ .Content }}
  </article>

  {{ with $related }}
  <div class="row border border-primary rounded">
    <div class="col p-2">
      <h3>You might also like...</h3>
      <div class="row">
        {{ range . }}
        <div class="col text-center p-2">
          {{if .Params.imgUrl}}
          <div><a href="{{ .RelPermalink }}"><img src="{{ .Params.imgUrl }}" alt="" class="img-fluid"
                style="max-width:150px" /></a></div>
          {{end}}
          <div class="pt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
          <div class="pt-2">{{ .Params.Summary | truncate 100 }}</div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  <br />
  {{ partial "disqus.html" . }}
</div>
{{ end }}
{{ define "jsonLd" }}
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "Pulsar Neighborhood - {{ .Title }}",
  {{ if .Params.meta.description }}
  "description": "{{ .Params.meta.description }}",
  {{ else }}
  "description": "{{ .Params.summary }}",
  {{ end }}
  "publisher": {
      "@type": "Organization",
      "name": "Pulsar Neighborhood"
  },
  {{ if .Params.meta.keywords }}
  "keywords": [{{ delimit .Params.meta.keywords ", " }}],
  {{ end }}
},
{
  "@context":"http://schema.org",
  "@type": "BlogPosting",
  "image": {{ default "https://www.pulsar-neighborhood.io/images/blue-logotype.png" .Params.imgUrl }},
  "url": "{{ .Permalink }}",
  "publisher": "Pulsar Neighborhood",
  "headline": "{{ .Title }}",
  "dateCreated": "{{ .Params.date }}",
  "datePublished": "{{ .Params.date }}",
  "dateModified": "{{ .Params.date }}",
  "inLanguage": "en-US",
  "isFamilyFriendly": "true",
  "copyrightYear": "2022",
  "copyrightHolder": "",
  "author": {
      "@type": "Person",
      "name": "{{ default "Pulsar Neighborhood" .Params.author.name }}",
      "url": "https://www.pulsar-neighborhood.io"
  },
  "mainEntityOfPage": "True",
  "articleSection": [{{ delimit .Params.categories ", " }}],
  {{ if .Params.meta.keywords }}
  "keywords": [{{ delimit .Params.meta.keywords ", " }}],
  {{ end }}
  "articleBody": "{{ .Content }}"
}
{{ end }}