nav#TableOfContents {
  ul {
    li {
      list-style: none;
      padding-bottom: 10px;
      a{
        text-decoration: none;
        color: #9c9c9c;
        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
      ul {
        padding-top: 10px;
        padding-left: 10px;
        li {
          padding-bottom: 10px;
          a{
            text-decoration: none;
            color: #9c9c9c;
            &:hover {
              text-decoration: underline;
              color: $primary;
            }
          }
          &::before{
            content: "- ";
            color: #9c9c9c;
          }
        }
      }
    }
  }
}
