<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
  <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
  <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
  <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
  <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
  <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
  <link rel="alternate" type="application/rss+xml" href="/index.xml" title="Site Title" />
  <meta name="google-site-verification" content="m-1Z-0k0EvG9PD7R24pKuETSaBpEvqoXgOYT-0MtuPU" />
  <link rel="icon" href="{{ "favicon.png" | absURL}}">
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | fingerprint).RelPermalink }}">
  <link rel="canonical" href="{{ .Site.Config.baseURL }}/{{ .Page.RelPermalink }}" />
  {{ end }}
  {{ block "header_css" . }}{{ end }}
  <style>
    .ctct-form-defaults { padding: 15px !important;}
  </style>
</head>
{{ $showToc := and (.Params.showtoc | default true) (.Page.TableOfContents) }}
{{ $showNewsletterSignup := and (.Params.showNewsletterSignup | default true) (.Page.TableOfContents) }}
<body class='page bg-secondary'>
  {{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}

    <div class="container pt-2 pb-3">
      <div class="row">
        <div class="col-0 col-md-2">
          <div class="sidebar">
            {{ partial "sidebar.html" . }}
          </div>
        </div>
        {{ if or $showToc $showNewsletterSignup }}
          <div class="col-12 col-md-8">
        {{ else }}
        <div class="col-12 col-md-10">
        {{ end }}
          {{ block "main" . }}
          {{ end }}
        </div>

        {{ if or $showToc $showNewsletterSignup }}
        <div class="col-0 col-md-2">
          {{ if and ($showToc) (gt (len .TableOfContents) 32) }}
            {{ with .TableOfContents }}
              <nav class="navbar navbar-light mb-3">
                <div class="row">
                  <div class="col-12">
                    <h4>In this article</h4>
                  </div>
                  <div class="col-12 border-left border-primary pr-0">{{ . }}</div>
                </div>
              </nav>
            {{ end }}
          {{ end }}
          {{ if $showNewsletterSignup }}
          <div class="row border border-primary rounded  no-gutters">
            <div class="col-12 bg-primary p-1">
              <div class="text-secondary">&nbsp;Join Our Newsletter</div>
            </div>
            <div class="col-12"><!-- Begin Constant Contact Inline Form Code -->
              <div class="ctct-inline-form" data-form-id="7514f5a0-b12d-44b3-93bf-e16449e783ca" style="padding:0"></div>
              <!-- End Constant Contact Inline Form Code --></div>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  
  {{ partial "footer.html" . }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ $scripts := resources.Get "js/scripts.js" }}
  
  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ $filter := resources.Get "js/filter.js" }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $filter.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($filter | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  
  {{ if $showNewsletterSignup }}
  <!-- Begin Constant Contact Active Forms -->
  <script> var _ctct_m = "310a7590faa964361197c4644ef1de96"; </script>
  <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
  <!-- End Constant Contact Active Forms -->
  {{ end }}

  {{ partial "google-analytics.html" . }}
</body>

</html>
