{{ define "main" }}

<main>
    <div class="container">
        <div id="search-results"><h1>Search results</h1></div>
        <div class="search-loading">Loading...</div>

        <template id="search-result-template">
            <div class="mt-2">
                <div class="row">
                    <div class="col-auto" id="search-result-date"></div>
                    <div class="col-auto">
                        <div class="badge badge-pill border border-muted">
                            <span class="" id="search-result-type"></span>
                        </div>
                        <div class="pl-1 badge badge-pill  border border-muted">
                            <span class="text-muted small">level </span><span id="search-result-level"></span>
                        </div>
                    </div>
                    <div class="col">
                        <h3><a id="search-result-link"><span id="search-result-title"></span></a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 text-muted mb-2">
                        <span id="search-result-summary"></span>
                    </div>
                </div>
            </div>
        </template>
    </div>
</main>

{{ end }}

{{ define "footer_js" }}
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.5.3"></script>
    {{ $search := resources.Get "js/search.js" }}
    {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ $search.RelPermalink }}"></script>
    {{ else }}
    <script type="text/javascript" src="{{ ($search | minify | fingerprint).RelPermalink }}"></script>
    {{ end }}
{{ end }}