{{ define "main" }}

<main>
    <div id="search-results"></div>
    <div class="search-loading">Loading...</div>

    <template id="search-result-template">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-1" id="search-result-date"></div>
            <div class="col-8">
                <h3><a id="search-result-link"><span id="search-result-title"></span></a></h3>
            </div>
            <div class="col">
                <div class="badge badge-pill border border-muted">
                    <span class="" id="search-result-type"></span>
                </div>
                <div class="pl-1 badge badge-pill  border border-muted">
                    <span class="text-muted small">level </span><span id="search-result-level"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-muted">
                <span id="search-result-summary"></span>
            </div>
        </div>
        <div class="row mt-3">
            
        </div>
        <!-- <div class="row">
            <div class="col" id="search-result-type">
            </div>
            <div class="col" id="search-result-date">
            </div>
            <div class="col" id="search-result-level">
                100
            </div>
            <div class="col" id="search-result-title">
                This is a sample
            </div>
            <div class="col" id="search-result-summary">
                A sample summary about a sample
            </div>
        </div>
        <div class="row">
            <div class="col" id="search-result-link">
                aaa
            </div>
            <div class="col">
                <ul id="search-result-tags"></ul>
            </div>
            <div class="col">
                <ul id="search-result-categories"></ul>
            </div>
        </div> -->
    </template>
    
    {{ $search := resources.Get "js/search.js" }}
    {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ $search.RelPermalink }}"></script>
    {{ else }}
    <script type="text/javascript" src="{{ ($search | minify | fingerprint).RelPermalink }}"></script>
    {{ end }}
  
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.5.3"></script>
</main>

{{ end }}
