<div class="sub-footer">
  <div class="container">
    {{ if .IsPage }}
      <div class="row text-center">
        <div class="col-12">
          <a href="https://github.com/pulsar-neighborhood/pulsar-neighborhood.github.io/tree/main/content/{{ .File.Path }}" target="_blank">Improve this page</a>
        </div>
      </div>
    {{ end }}
    <div class="row text-center">
      <div class="col-4 text-center">
        <div class="row no-gutter">
          <div class="col text-left">Neighborhood</div>
          <div class="col"><a href="https://github.com/pulsar-neighborhood" target="_blank">GitHub</a></div>
          <div class="">|</div>
          <div class="col"><a href="https://twitter.com/pulsar_neighbor" target="_blank">Twitter</a></div>
          <div class="">|</div>
          <div class="col"><a href="https://www.youtube.com/c/ApachePulsarNeighborhood" target="_blank">YouTube</a></div>
        </div>
      </div>
    </div>
    <div class="row mb-2 mt-1">
      <div class="col-4 text-center">
        <div class="row no-gutter">
          <div class="col text-left">Pulsar</div>
          <div class="col"><a href="https://pulsar.apache.org" target="_blank">Project</a></div>
          <div class="">|</div>
          <div class="col"><a href="https://github.com/apache-pulsar" target="_blank">Github</a></div>
          <div class="">|</div>
          <div class="col"><a href="https://twitter.com/Apache_Pulsar" target="_blank">Twitter</a></div>
          <div class="">|</div>
          <div class="col"><a href="https://twitter.com/Apache_Pulsar" target="_blank">Stackoverflow</a></div>
        </div>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-12 text-left">
          <div class="">Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms & Condition</div>
      </div>
    </div>
  </div>
</div>