<div class="sub-footer m-5">
  <div class="col-8 offset-2 "><hr class="bg-primary text-primary" /></div>
  <div class="sub-footer-inner mt-2">
    <!-- {{ if .IsPage }}
      <div class="row text-center">
        <div class="col-12">
          <a href="https://github.com/pulsar-neighborhood/pulsar-neighborhood.github.io/tree/main/content/{{ .File.Path }}" target="_blank">Improve this page</a>
        </div>
      </div>
    {{ end }} -->
    <div class="">
      <div class="">Pulsar Neighborhood</div>
      <div class="">
        <ul>
          <li>
            <a href="https://github.com/pulsar-neighborhood" target="_blank">GitHub</a>
          </li>
          <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
          <li><a href="https://twitter.com/pulsar_neighbor" target="_blank">Twitter</a>
          </li>
          <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
          <li><a href="https://www.youtube.com/c/ApachePulsarNeighborhood" target="_blank">YouTube</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-5"></div>
    <div class="">
      <div class="">Apache Pulsar</div>
      <div class="">
        <ul>
          <li>
            <a href="https://pulsar.apache.org" target="_blank">Project</a>
          </li>
          <li>&nbsp;&nbsp;|&nbsp;&nbsp;
          </li>
          <li><a href="https://github.com/apache-pulsar" target="_blank">Github</a>
          </li>
          <li>&nbsp;&nbsp;|&nbsp;&nbsp;
          </li>
          <li><a href="https://twitter.com/Apache_Pulsar" target="_blank">Twitter</a>
          </li>
          <li> &nbsp;&nbsp;|&nbsp;&nbsp;
          </li>
          <li><a href="https://stackoverflow.com/questions/tagged/apache-pulsar" target="_blank">Stackoverflow</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12 text-center">
        <div class="">Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms & Condition</div>
    </div>
  </div>
</div>
