<div class="sub-footer">
  <div class="container col-12 col-md-8 offset-md-4">
    {{ if .IsPage }}
      <div class="row text-center">
        <div class="col-12">
          <a href="https://github.com/pulsar-neighborhood/pulsar-neighborhood.github.io/tree/main/content/{{ .File.Path }}" target="_blank">Improve this page</a>
        </div>
      </div>
    {{ end }}
    <div class="row mb-1">
      <div class="col-2">Pulsar Neighborhood</div>
      <div class="col"><a href="https://github.com/pulsar-neighborhood" target="_blank">GitHub</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
      
        <a href="https://twitter.com/pulsar_neighbor" target="_blank">Twitter</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;

        <a href="https://www.youtube.com/c/ApachePulsarNeighborhood" target="_blank">YouTube</a>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2">Apache Pulsar</div>
      <div class="col"><a href="https://pulsar.apache.org" target="_blank">Project</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/apache-pulsar" target="_blank">Github</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://twitter.com/Apache_Pulsar" target="_blank">Twitter</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://twitter.com/Apache_Pulsar" target="_blank">Stackoverflow</a>
      </div>
    </div>
    
  </div>
  <div class="row text-center">
    <div class="col-12 text-center">
        <div class="">Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms & Condition</div>
    </div>
  </div>
</div>