{{ $rssSvg := resources.Get "svg/square-rss-solid.svg" }}

<div id="main-menu" class="main-menu">
  <ul>
    <li class=""><a href="/about"><span>About The Pulsar Neighborhood</span></a></li>
    <li class=""><a href="https://pulsar.apache.org/" target="_blank"><span>About Apache Pulsar</span></a></li>
    <li class=""><a href="https://pulsar.apache.org/docs/en/standalone/" target="_blank"><span></span>Project Documentation</span></a></li>
    <li><a href="/index.xml"><img src="{{ $rssSvg.RelPermalink }}" title="Subscribe to The Pulsar Neighborhood feed" class="img-fluid" style="height:30px;" /></a></li>
  </ul>
</div>