{{$currentNode := .}}
{{ $githubSvg := resources.Get "svg/github-brands.svg" }}
{{ $linkedinSvg := resources.Get "svg/linkedin-in-brands.svg" }}
{{ $twitterSvg := resources.Get "svg/twitter-brands.svg" }}
{{ $youtubeSvg := resources.Get "svg/youtube-brands.svg" }}
<div class="spotlight mb-2">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h4>Pulsar User Spotlight</h4>
        </div>
      </div>
      {{ range where site.RegularPages "Layout" "spotlight" }}
        <div class="row">
          <div class="col-12 text-center">
            {{if .Params.img}}
              <a href="{{ .RelPermalink }}"><img src="{{.Params.img}}" alt="" class="img-fluid border rounded-circle" style="max-width:80%" /></a>
            {{end}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{.Params.fullName }}
            <img src="{{ $githubSvg.RelPermalink }}" alt="" class="img-fluid" style="max-height:20px;">
            <img src="{{ $linkedinSvg.RelPermalink }}" alt="" class="img-fluid" style="max-height:20px;">
            <img src="{{ $twitterSvg.RelPermalink }}" alt="" class="img-fluid" style="max-height:20px;">
            <img src="{{ $youtubeSvg.RelPermalink }}" alt="" class="img-fluid" style="max-height:20px;">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-muted">
            {{.Params.summary }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
<div class="filters-menu">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h4>Level</h4>
          <ul>
            <li><input class="form-check-input" type="checkbox" value="" id="100"  onclick="toggleFilter(filterOptions.levelFilters, this.id)"><label class="form-check-label" for="100" onchange="">Beginner (100)</label></li>
            <li><input class="form-check-input" type="checkbox" value="" id="200"  onclick="toggleFilter(filterOptions.levelFilters, this.id)"><label class="form-check-label" for="200">Intermediate (200)</label></li>
            <li><input class="form-check-input" type="checkbox" value="" id="300"  onclick="toggleFilter(filterOptions.levelFilters, this.id)"><label class="form-check-label" for="300">Advanced (300)</label></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Category</h4>
          <ul>
            {{ range $.Site.Taxonomies.categories.ByCount }}
              {{ $foramttedTerm := .Term | replaceRE "[.]" "_" | urlize}}
              <li>
                <input class="form-check-input" type="checkbox" value="" id="{{ $foramttedTerm }}"  onclick="toggleFilter(filterOptions.categoryFilters, this.id)">
                  <label class="form-check-label" for="{{ $foramttedTerm }}">{{.Term | humanize | title }} [{{len .Pages}}]</label>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
