{{ define "jsonLd" }}
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "Pulsar Neighborhood",
  "description": "The Pulsar Neighborhood community enables Apache Pulsar users and developers to learn about Pulsar and how to use it in their professional lives; via useful, interactive content (including blogs, Meetups, and YouTube videos). This is all driven by a passionate, vendor neutral, and inclusive community of members.",
  "publisher": {
      "@type": "Organization",
      "name": "Pulsar Neighborhood"
  }
},
{
  "@context": "https://schema.org",
  "@type": "SpecialAnnouncement",
  "name": "Apache Pulsar users and developers learn about Pulsar and how to use it via useful, interactive content.",
  "text": "The Pulsar Neighborhood is an independent community (Neighborhood) of Apache Pulsar users, developers, and enthusiasts looking to improve their Apache Pulsar skills, find new features & best practices of the project, and promote Apache Pulsar & its community enabling the project’s continued growth and prosperity. This is done both through creation of content (blogs, tutorials, videos, and speaking engagements) and by the consumption of content created by other “neighbors”. This is all driven by a passionate, vendor neutral community of members for the betterment of the Apache Pulsar community.<br><a href=https://www.pulsar-neighborhood.io/about>Learn more about the Neighborhood</a> ",
  "datePosted": "2022-07-07T08:00",
  "category": "Pub/Sub Message Streaming Platform"
}
{{ end }}

{{ define "main" }}

{{ $latestPages := (where .Site.Pages "Type" "in" (slice "article" "guide")).ByDate.Reverse }}
<div>
  <div class="container pt-0">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <main>
            <div class="mb-4">
              <h1>Welcome to The Pulsar Neighborhood {{ ":wave:" | emojify }}</h1>
              The Pulsar Neighborhood community enables Apache Pulsar users and developers to learn about Pulsar and how to use it in their professional lives; via useful, interactive content (including blogs, Meetups, and YouTube videos). This is all driven by a passionate, vendor neutral, and inclusive community of members. <a href="/about">read more</a>
            </div>
            <div class="mb-4 text-center p-2">
              <a href="/guides/getting-started"><div class="btn btn-secondary btn-lg font-weight-bold">Get started with Pulsar now!</div></a>
            </div>
            <div class="mb-4">
              <h2>Latest in the Neighborhood</h2>
              {{ range first 8 $latestPages }}
              <div class="m-1 mb-2">
                <span class="text-muted font-weight-light">{{ .Date.Format "Jan 1" }}</span>
                <div class="badge badge-pill border border-muted">
                  {{ .Type | title }}</span>
                </div>
                {{if .Params.level }}<div class="pl-1 badge badge-pill  border border-muted">

                  <span class="text-muted small">level </span>{{ .Params.level }}</span>

                </div> {{ end }}
                <a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
              </div>
              {{ end }}
            </div>
            <div class="">
              <h2>Latest from the Pulsar community</h2>
              <div class="m-1"><span class="text-muted font-weight-light">May 2022</span> <a
                  class="text-decoration-none" href="https://pulsar.apache.org/blog/2022/05/11/whats-new-in-pulsar-210/" target="_blank">What's New in Apache Pulsar 2.10</a></div>
              <div class="m-1"><span class="text-muted font-weight-light">Dec 2021</span> <a
                  class="text-decoration-none" href="https://pulsar.apache.org/blog/2021/12/14/Apache-Pulsar-2-7-4" target="_blank">What's New in Apache Pulsar 2.7.4</a></div>
              <div class="m-1"><span class="text-muted font-weight-light">Dec 2021</span> <a
                  class="text-decoration-none" href="https://pulsar.apache.org/blog/2021/12/11/Log4j-CVE/"
                  target="_blank">Log4j2 Zero Day vulnerability (CVE-2021-44228)</a></div>
              <div class="m-1"><span class="text-muted font-weight-light">Sep 2021</span> <a
                  class="text-decoration-none" href="https://pulsar.apache.org/blog/2021/09/23/Apache-Pulsar-2-8-1/" target="_blank">Apache Pulsar 2.8.1</a></div>
            </div>
            <div class="mb-4 text-center p-2">
              <div class="">Want The Pulsar Neighborhood to highlight your article or guide? <a target="_blank" href="https://github.com/pulsar-neighborhood/pulsar-neighborhood.github.io/issues/new/choose">Submit a request.</a></div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  
</div>
{{ end }}
