

{{ define "main"}}
{{ $related := .Site.RegularPages.RelatedIndices . "categories" "tags" | first 3 }}
<div class="container">
  <header class="mb-3">
    <div class="pb-2">
      {{if .Params.imgUrl}}
      <img src="{{.Params.imgUrl}}" alt="" class="img-fluid" style="max-width:85%;max-height:200px" />
      {{end}}
    </div>
    <h1>{{ .Title }}</h1>
  </header>
  <div class="row mb-3">
    <div class="col-12 text-right">{{if .Params.author.imgUrl}}
      <img src="{{.Params.author.imgUrl}}" alt="" class="img-fluid" style="max-height:100px;" />
      {{end}}
    </div>
    <div class="col-12 text-right">
      {{ if .Params.author.name }}
      <span class="text-muted">Author:</span> {{ .Params.author.name }}
      {{ end }}</div>
      <div class="col-12 text-right">
         <span class="text-muted">Published:</span> {{ .Date.Format "January 2, 2006" }}
        </div>
  </div>
  <article>
    {{ .Content }}
  </article>

  {{ with $related }}
    <div class="row border border-primary rounded">
      <div class="col p-2">
        <h3>You might also like...</h3>
        <div class="row">
          {{ range . }}
          <div class="col text-center p-2">
            {{if .Params.imgUrl}}
            <div><a href="{{ .RelPermalink }}"><img src="{{ .Params.imgUrl }}" alt="" class="img-fluid" style="max-width:150px" /></a></div>
            {{end}}
            <div class="pt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="pt-2">{{ .Params.Summary | truncate 100 }}</div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
  <br />
  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}