{{ $sections := where (os.ReadDir "content/guides/getting-started") "IsDir" true }}

<div class="row">
    {{range $sections}}
    {{$sectionName := .Name}}
    <div class="col">
        <div class="list-group">
            <div class="list-group-item list-group-item-action list-group-item-dark text-muted">{{ $sectionName | title }}
            </div>
            {{ range where (readDir (print "/content/guides/getting-started/" $sectionName)) "IsDir" false  }}
                {{ $filePath := (print "/content/guides/getting-started/" $sectionName "/" .Name)}}
                {{ $page := $.Site.GetPage $filePath}}
                {{with $page}}
                    <a href="{{.RelPermalink}}" class="list-group-item list-group-item-action">{{.File.TranslationBaseName | title}}</a>
                {{end}}
            {{end}}
        </div>
    </div>
    {{end}}
</div>