{{ $count := .Get "count" | default 6 }}
{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}

<section class="section">
    <div class="">
        <div class="">
            {{ range first $count $pages }}
                <article class="pb-2">
                <div>
                    <a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
                
                </div>
                <div>{{ .Params.Summary }}</div>
                </article>
            {{ end }}
        </div>
    </div>
</section>